<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.example.daily_task</string>
    <key>ProgramArguments</key>
    <array>
        <string>/usr/local/bin/daily_task.sh</string>
    </array>
    <key>StartCalendarInterval</key>
    <dict>
        <key>Hour</key>
        <integer>16</integer>
        <key>Minute</key>
        <integer>0</integer>
    </dict>
    <key>StandardOutPath</key>
    <string>/usr/local/var/log/daily_task.log</string>
    <key>StandardErrorPath</key>
    <string>/usr/local/var/log/daily_task.log</string>
</dict>
</plist> 